main{
    padding: 0;
    background: linear-gradient(135deg,
        var(--primary-color) 0%, 
        var(--secondary-color) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-wpraper{
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
    
    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: white;

    box-shadow: 5px 5px 15px 10px black;

    display: flex;
    justify-content: center;
}

.search-bar{
    margin: 10px;
}

input{
    padding: 10px 15px;
    
    width: 92%;

    background: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(20px);

    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: white;

    font-size: 32px;
}

.suggestions-list{
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.692);

    border-width: 2px;
    border-style: solid;
    border-radius: 30px;
    border-color: white;
}

.suggestions-list li{
    list-style-type: none;
    margin: 10px;

    color: black;
    font-size: 24px;

    border-bottom: 1px black solid;

}

.loading-panel{
    margin: 20px;
    padding: 10px;

    color: var(--text-color);
    display: flex;
    align-content: center;
    justify-content: center;
}
