div {
    color: var(--text-color);
}

.weather-main-info{
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.weather-details{
    padding: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.weather-details div{
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 92px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 24px;
}

